.nav {
    background-color: #161d26;
    color: white;
    padding: 1rem 2rem;
}

.nav__contents {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__logo {
    max-height: 2rem;
}

.nav__left {
    margin-right: 8.5rem;
}

.nav__searchBar {
    display: flex;
    width: 40%;
}

.nav__searchBar > input {
    border: 2px solid #383f47;
    color: white;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    background-color: #223040;
    width: 60%;
}

.nav__searchBar > select {
    border: 2px solid #383f47;
    border-left: none;
    background-color: #223040;
    color: white;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
}

.nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}

.nav__icon--clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9901;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.nav__searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9901;
    width: 2.2rem;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    cursor: pointer;
}

.nav__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.nav__avatar {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.nav__notify-bubble {
    position: absolute;
    top: -0.5rem;
    right: -0.4rem;
    padding: 0.1rem 0.3rem;
    background-color: white;
    color: black;
    font-size: 0.6rem;
    font-weight: 700;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
}
